.searchbar {
    width: 400px;
    display: flex;
    position: relative;
  }

  .search-input {
    padding-left: $l-size !important;
  }

  .searchbar-input {
    width: 100%;
    background: $white;
  }

  .searchbar-icon {
    position: absolute;
    left: $m-size;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #7a7a7a;
    font-size: 1.6rem;
  }
  